html,body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #333;
}
nav ul{
    list-style: none;
    margin: 0;
}
nav ul li{
    display: inline-block;
}
nav ul li:not(.link){
    padding: 20px 15px;
}
nav ul li:hover{
    background-color: rgba(255,255,255,.8);
    cursor: pointer;
}
nav {
    background-color: #f2f2f2;
}
nav ul li a{
    display: block;
    padding: 20px 15px;
    text-decoration: none;
    color: #8e0000;
}

#youtuber-container{
    width: 100px;
    height: calc(100vh - 58px);
    overflow-x: hidden;
    overflow-y: auto;
}
#youtuber-container::-webkit-scrollbar { 
    display: none; 
}
#youtuber-container div{
    width: 100%;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    opacity: .5;
}
#youtuber-container div:hover{
    opacity: 1;
    cursor: pointer;
}
#youtuber-container div.active{
    opacity: 1;
    position: relative;
}